@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #7ca5ca;
    --secondary-color: #ffffff;
    --font-family: 'Inter', sans-serif;
}

html{
    font-size: 10px;

}
body{
    font-family:Inter, sans-serfif;
    
}

/* common styles */
img{
        width: 100%;
        border-radius: 50px;
        float: left;
        margin-right: 10px;
}
a{
    margin-left: 1rem;
    text-decoration: underline;
    color: black;
    font-weight: bold;
    font-size: 2rem;

}
.bio{
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: 400;

}

/* layout */
.container{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

@media only screen and (max-width: 768px){
    .container{
       width: 100%;
       padding: 2rem;

    }
}

.profile{
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}
/* profile */
.profile_container{
    display: flex;
    gap:2 rem;
}
.profile_profileImg{
    max-width: 250px;
}
.pacman_startImg{
    display: grid;
    border-radius: 0px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    margin-bottom: 20rem;
}
.link_startImg{
    display: grid;
    border-radius: 0px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    
}
.profile_name_firstName{
    color: black;
    font-weight: bold;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform:uppercase;
    display:block;
    margin-left: 1rem;
    margin-bottom: -0.8rem;
}
.profile_name_lastName{
    color: lightblue;
    margin-left: 1rem;
    font-weight: bold;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform:uppercase;
    display:block;
}
.profile_title{
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform:uppercase;
}

.title{
    margin-top: 1.5rem;
    color: lightblue;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}
.downloadbutton{
    display: block;
    text-decoration: underline;
    margin-top: 1rem;
    margin-bottom: 5rem;

}

@media only screen and (max-width: 768px){
    .profile_container{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}

.bulletpoint_style{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}

.subtitle{
    margin-top: 1rem;
    line-height: 1;
    font-size: 1.5rem;
}

.group-1{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}